<html>
<head>
		<title>Springer Quotes - 404 Error</title>
		<meta http-equiv='Content-type' content='text/html;charset=UTF-8' />
		
		<link type='text/css' rel='stylesheet' href='/styles.css' />
		
		<!-- google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Nobile&subset=latin' rel='stylesheet' type='text/css'>
		
		<!-- jQuery and jQuery UI -->
		<link type='text/css' rel='stylesheet' href='/css/jquery-ui-1.8.12.custom/css/custom-theme/jquery-ui-1.8.12.custom.css' />	
		<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'></script>
		<script src='/css/jquery-ui-1.8.12.custom/js/jquery-ui-1.8.12.custom.min.js'></script>

		<!-- own scripts and styles -->
		<script src='/javascript.js'></script>		
		
		<!-- load google analytics -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-1782093-6']);
			_gaq.push(['_trackPageview']);

			(function() {
			  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>			
</head>
<body>
	
<div id='container'>

<a href='/'><img id="logo" src="/springerquotes_logo.png" alt="Springer Quotes" title="Springer Quotes"></a>

<h1>404 Error</h1>

<p id="article" style="text-align:center">
	The page you are looking for cannot be found.
	<br/>
	Maybe you want to go back to <a href='/'>Springer Quotes Home</a>?
</p>

</div>	

</body>
</html>